*{

}

.type_writer{
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
}

@keyframes example {
    from{
        transform: translateX(0);
    }to{
        transform: translateX(-100%);
    }
  }